:root{
    --noscript-background-color: #ab2b30;
    --noscript-font-color: #fff;
}
body > *,
body > div{
    display: none;
}
noscript{
    flex: 1 1 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-items: stretch;
    background-color: var(--noscript-background-color);
    color: var(--noscript-font-color);
}
noscript h1{
    flex: 1 1 auto;
    font-size: 3rem;
    text-align: center;
}

footer{
    display:flex;
    background-color: var(--noscript-background-color);
    color: var(--noscript-font-color);
}